<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.monologue.pet.mapper.LoginMapper">
    <select id="getUsername" resultType="String">
        select username from user
        where username=#{username}
    </select>
    <select id="getUserPwd" resultType="com.monologue.pet.model.UserLogin">
        select username, password from user
        where username=#{username} and password=#{password}
    </select>

</mapper>